VITE_SUPABASE_URL=https://SEU-PROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-publica
VITE_API_URL=http://localhost:3333
VITE_CLINICA_BROTAS_ID=
VITE_CLINICA_IPUPIARA_ID=
VITE_CLINICA_BROTAS_HOSTNAME=
VITE_CLINICA_IPUPIARA_HOSTNAME=
